{% extends 'base.html' %}
{% block body %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Enter Movie Name"><br><br>
<!--    <input type="text" name="desc" placeholder="Description of the movie"><br><br>-->
    <textarea name="desc" cols="40" rows="5" placeholder="Description of the Movie"></textarea><br><br>
    <input type="text" name="year" placeholder="Enter Year of the movie"><br><br>
    <input type="file" name="img"><br><br>
    <input type="submit"><br><br>
</form>
{% endblock %}